body {
    font-family: 'Courier New', Courier, monospace;
    background: url(./images/odin-face.png);
    background-color: white;
}

div {
    background-color: rgba(232, 184, 81, 0.9);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}

.odin-face {
    background-color: rgb(242, 191, 81);
    width: fit-content;
    margin: auto;
    display: block;
    font-size: 50px;
}

h1 {
    text-align: center;
    background-color: rgba(220, 220, 220, 0.9);
    font-size: 80px;
    font-weight: 700;
}

h4 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

#recipe {
    background-image: none;
}

a {
    display: block;
    margin: 20px;
    text-decoration: none;
}